<div class="row">
	<div class="col-xs-12">
		<div class="col-xs-5">
			<img *ngFor="let hero of heroes"
					 src="{{ hero.image }}"
					 alt="Hero1"
					 class="img-responsive"><br>
					 <hr>
				 <div>
					 <p *ngFor="let hero of heroes" id="hero1">
						 Name: {{ hero.name }}<br>
 		         Intelligence: {{ hero.intelligence }}<br>
 		         Strength: {{ hero.strength }}<br>
 		         Speed: {{ hero.speed }}<br>
 		         Durability: {{ hero.durability }}<br>
 		         Power: {{ hero.power }}<br>
 		         Combat: {{ hero.combat }}
					 </p>
				 </div>
		</div>
		<div class="col-xs-2"
				 style="text-align: center">
			<h1>VS</h1>
		</div>
		<div class="col-xs-5" id="hero2">
			<img *ngFor="let hero2 of heroes2"
				   src="{{ hero2.image }}"
					 alt="Hero2"
					 class="img-responsive"><br>
					 <hr>
					 <div>
						 <p *ngFor="let hero2 of heroes2">
  						Name: {{ hero2.name }}<br>
   		        Intelligence: {{ hero2.intelligence }}<br>
   		        Strength: {{ hero2.strength }}<br>
   		        Speed: {{ hero2.speed }}<br>
   		        Durability: {{ hero2.durability }}<br>
   		        Power: {{ hero2.power }}<br>
   		        Combat: {{ hero2.combat }}
  					 </p>
					 </div>
		</div>
	</div>
</div>
<div class="row" id="fightButton"
		 (click)="compareHeroes()">
	<div class="col-xs-12">
		<button class="btn btn-danger">
			FIGHT!
		</button>
	</div>
</div>
