<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="#"
         class="navbar-brand">
        Superhero Compare
      </a>
    </div>
    <div class="navbar-default">
      <ul class="nav navbar-nav">
        <li>
          <a [routerLink]="['/compare']">
            Compare
          </a>
        </li>
				<li>
					<a
					style="cursor: pointer"
					(click)="onLoadHeroes()">
						Search Heroes
					</a>
				</li>
				<li>
					<a
						*ngFor="let hero of heroes"
						style="cursor: pointer"
						(click)="onLoadDetails(hero.id)">
						Load Details
					</a>
				</li>
      </ul>
    </div>
  </div>
</nav>
