<div class="row" id="searchHeroes">
  <div class="col-xs-12">
    <input type="text"
					 class="search"
           [(ngModel)]="heroSearch">
    <button class="btn btn-success"
    (click)="onSearch(heroSearch)">
      Search
    </button>
  </div>
</div>
<hr>
<button class="btn btn-primary"
[routerLink]="['/heroes', 10, 'details']"
[queryParams]="{allowDetails: '1'}"
fragment="loading">
	Load Hero Detail
</button>
<router-outlet></router-outlet>
<app-hero-detail
*ngIf="didSearch"></app-hero-detail>
