<!-- <div class="row" id="heroList">
  <div class="col-xs-12">
    <ul class="list-group">
      <a href="#"
         class="list-group-item"
         style="cursor: pointer"
         *ngFor="let hero of heroes"
         appHeroLinkColor>
        Name: {{ hero.name }}
        <img src="{{ hero.image }}" alt=""><br>
        Intelligence: {{ hero.intelligence }}<br>
        Strength: {{ hero.strength }}<br>
        Speed: {{ hero.speed }}<br>
        Durability: {{ hero.durability }}<br>
        Power: {{ hero.power }}<br>
        Combat: {{ hero.combat }}
      </a>
			<a href="#"
				class="list-group-item"
				style="cursor: pointer"
				*ngFor="let hero2 of heroes2"
				appHeroLinkColor>
				Name: {{ hero2.name }}
        <img src="{{ hero2.image }}" alt=""><br>
        Intelligence: {{ hero2.intelligence }}<br>
        Strength: {{ hero2.strength }}<br>
        Speed: {{ hero2.speed }}<br>
        Durability: {{ hero2.durability }}<br>
        Power: {{ hero2.power }}<br>
        Combat: {{ hero2.combat }}
			</a>
    </ul>
  </div>
</div> -->
<div>
	<ul class="list-group">
		<li class="list-group-item">
			<a href="#"
			*ngFor="let heroSearch of heroesSearch">
				<p>{{ heroSearch.name }}</p>
				<p>{{ heroSearch.combat }}</p>
				<p>{{ heroSearch.durability }}</p>
				<p>{{ heroSearch.intelligence }}</p>
				<p>{{ heroSearch.power }}</p>
				<p>{{ heroSearch.speed }}</p>
				<p>{{ heroSearch.strength }}</p>
			</a>
		</li>
	</ul>
</div>
